:root {
  /* Global Colors */
    --main-color: rgb(0, 151, 210);
    --main-white: #FCFCFC;    
    --black: #5c5c5c;
    --light-black: rgb(75, 75, 75);
    --bg: rgb(244, 244, 251);
  /* Global Styles */
    --box-shadow: rgba(27, 27, 27, 0) 1px 3px 8px;
    --inner-left-align: .9em;
}

* {
    padding: 0;
    box-sizing: border-box;
    text-decoration: inherit;
}

html, body {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    margin: 0 auto;

    font-size: 1.1em;
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 1.5;

    max-width: 36em;

    background-color: var(--main-white);/*var(--bg);*/
}

.content {
    flex: 1 0 auto;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;  
  height: 1px;             
  background-color: #EEEEEE;  
}


b {
  font-weight: 500;
  color: var(--light-black);
}


/* List Styling */
ol {   
    list-style-type: decimal;
}

ol li {
    list-style-type: decimal;
}


/*------------*/


/* Header Styling */
h1 {
    font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h1, h2 {
    font-weight: 100;
}

h3 {
    font-size: 1.4em;
    font-weight: 400;
}

h4 {
  font-size: 1.1em;
  font-weight: 400;
}
/*------------*/


/* Head Styling */
.top-header {
    position: relative;
    z-index: 1;
}
.top-header h1 {
    font-size: 2.5em;
    font-weight: 300;
}

.top-header a  {}

.top-header a:hover  {
    color: #565656;
}

header a {
    padding: 0 0.5em 0 0.5em;
}
/*------------*/


/* Nav Styling */
.navbar {    
    margin-left: .65em;
    background-color: #F4F4FA;
    border-radius: 4px;
 }

.navbar-nav  {
  padding-right: 1em !important;  
  padding-left: 1em !important;  
  
}

.navbar-nav .navbar ul li {
  list-style-type: none;
}

.nav-item {
  padding-left: .75em;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.4em;
  padding-left: .75em;
}

.navbar-brand:hover {}

/*------------*/


/* Section Styling */
section {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  
  height: auto; 
  min-height: 28em;
  
  border-radius: 4px;
}

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2em;
  padding-bottom: .7em;
}

.post-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2em;
}

.section-h2 {
  margin: .5em 0 0;
  border: none;
}

.section-h2  > p::first-letter {
  color: var(--main-color);
  text-decoration: underline;
}

.top-link {
    font-size:.9em;
    width: 100%;
    text-align:right;
    padding-right: 2em;
}

.section-content {
  display: flex;
  flex-direction: column;  
  flex-wrap: wrap;
  padding: 1em 2em 0em 2.1em;
}

.post-content {
  display: flex;
  flex-direction: column;  
  flex-wrap: wrap;
  padding: 0em 1em 0em 2.1em;
}

.entry-previews {
  list-style: none;
}

.post-date {
  color: var(--light-black);
  font: 14px;
}

.slide {
    display: none;
}

.demo {
    cursor:pointer
}

.underline {
    background-image: linear-gradient(var(--main-color) 0%, var(--main-color) 100%);
    background-repeat: repeat-x;
    background-position: 0em 1.1em;
    background-size: 1em 3em;
    -webkit-background-size: 1em 3em;
    -moz-background-size: 1em 3em;
    -o-background-size: 1em 3em;
}

blockquote {
    background-color:#F8F8F8;
    padding: .5em;
    border: 2px solid var(--main-color);
}
/*-------------*/

#about {
  
}

#project {
  background-color: var(--bg);  
}

#notes {
 
}

.project-type {
  color: var(--light-black);
}

.tab-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "tab-name tab-info tab-info tab-info" "tab-name tab-info tab-info tab-info" "tab-name tab-info tab-info tab-info";  
}

.tab-title {
  grid-area: tab-name;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.tab-info { 
  grid-area: tab-info;  
  padding-left: 4.5em;
}
/*-------------*/


/* Project Styling */
.project-row {
  padding-left: var(--inner-left-align);
}

.project-item {
  margin-top: .5em;
}
/*------------*/


/* Footer Styling */
footer {    
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;  
  flex-wrap: nowrap;
  
  font-size: 14px;

  width: 100%;
  height: 2em;

  position: fixed;
      
  bottom:0;
}

.footer-date {
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  
  padding-left: .4em;
  padding-right: .4em;

  font-weight: bold;
  font-size: 1.2em;
  color: var(--bg);
  background-color: var(--main-color);
}

.arrow-right-date {
  width: 0; 
  height: 0; 
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;  
  padding-right: 0.6em;

  border-left: 1em solid var(--main-color);  
}

.footer-branch {
  height: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  
  padding-right: .5em;
  padding-top: .1em;
  
  color: var(--main-white);
  background-color: #464750;
}

.footer-name {    
  height: 100%;

  display:flex;
  flex-direction: row;
  align-items: center;
  padding-left: .5em;  
  padding-right: 1em;
  
  color: var(--main-white);
  background-color: #464750;
}

.arrow-right-file {
  width: 0; 
  height: 0; 
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  padding-left: 1em;
  
  border-left: 1em solid #464750;
  background-color: #585858; /* var(--main-color);*/
}

.footer-mode {
  flex-grow: 1;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  
  color: var(--main-white);
  background-color: #585858;
}

.arrow-left-mode {
  width: 0; 
  height: 0; 
 
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  padding-right: 0.5em;
  border-right: 1em solid rgb(169, 169, 255); 
  background-color: #585858;
}

.footer-percent {
  
  height: 100%;
  padding-right: 1em;
  padding-left: .5em;
  
  display:flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgb(169, 169, 255);  
  color: var(--main-white);
  
}
/*------------*/

.break {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5em;
  
  padding-right: 2em;
  width:100%;
}

/* Links */
a {
  color: var(--main-color);
  border-bottom: 2px solid transparent;
}

a:hover {
    border-bottom: 2px dashed var(--black);
    text-decoration: none;
    color: var(--black);
}
a:link,
a:visited {
    text-decoration: none;
}
/*------------*/


/* Device Specific Styling */
@media all {
    html {
        font-size: 1em;
    }
}

@media screen and (max-width: 36em) {
  .section{
      margin:0;
      font-size: 1em;
      padding-left:5px;
      width: 100%;
  }

  .tab-info { 
    grid-area: tab-info;  
    padding-left: 2em;
  }

  .nav-item {
    padding-left: 0;
    padding-top: .6em;
  }
}

/*------------*/

strong {
  color: var(--black);
}

.svg-container { 
  height: 50px;
  padding-top: 0;
} 

