<section id="about">

  <!-- Section Title Row -->
  <div class="section-header">
    <h1 class="section-h2">
      <p>About</p>
    </h1>
  </div>

  <!-- Content -->
  <div class="section-content">

    <!-- Bio Row -->
    <p style="text-align: justify;">
      <b>CS @ Stony Brook University</b>
      <br>
      <br>
      Welcome to my page. My name is Jon Tow (pronounced like the Greek letter τ, not like the tow &#128666). I enjoy coding, tinkering with
      machine learning models,
      and competing in amateur sporting events.
      <br>
    </p>
    <!-- End of Bio Row -->
    
    <p>
      I also take up some server space over in these parts:

      <ul style="list-style: none; margin: 0em;">
	<li style="padding-bottom: .325em;">
	  &#128049;
	  <a class="pl-1" href="https://github.com/jon-tow">   
	    github
	  </a>
	</li>
	<li style="padding-bottom: .325em;">
	  &#128038;
	  <a class="pl-1" href="https://twitter.com/jonbtow">
	    twitter
	  </a>
	</li>
	<li>
	  &#128231;
	  <a class="pl-1" href="jonathantow1@gmail.com">
	    jonathantow1 @ gmail
	  </a>
	</li>
      </ul>
    </p>
  </div>

  <!-- End of Content -->
</section>
