<section class="mt-3" id="about">

  <!-- Section Title Row -->
  <div class="section-header">
  </div>
  
  <!-- Content -->
  <div class="section-content">
   
    <!-- Bio Row -->
    <div class="tab-content">
      <div class="">  
          <em>Bio</em>
      </div>
      <div class="tab-info">
        <p>
          <b>CS @ Stony Brook University</b>
          <br>
          <br>
          I enjoy coding, tinkering with
          machine learning models,
          and pretending to be a musician.
        </p>
        <p>
          I'm always looking for new things to learn.
          My curiosity hasn't hurt me yet.
        </p>
        <p>
          Friend me on chess.com (JonWot)
        </p>
      </div>
    </div>
    <!-- End of Bio Row -->

    <hr>

    <!-- Email Row -->
    <div class="tab-content">
        <!-- Row Title -->
      <div class="tab-title">
          <em>Email</em>
      </div>
      <!-- Row Content -->
      <div class="tab-info pt-3">
          <p>jonathantow1 @ gmail.com</p>
      </div>
    </div>
    <!-- End of Email Row -->


    <hr>


    <!-- Resume Row -->
    <div class="tab-content">
        <!-- Row Title -->
        <div class="tab-title">
            <em>Resume</em>
      </div>
      <!-- Row Content -->
      <div class="tab-info pt-3">
          <p>
          <a href="data/resume.pdf">
            Resume
          </a>
        </p>
      </div>
    </div>
    <!-- End of Resume Row -->
  </div>
  <!-- End of Content -->
</section>