<section class=" " >
    
  <!-- Section Title Row -->
  <div class="section-header pt-3 pb-3" id="notes">
    <h2 class="section-h2">
      <p>Notes</p>
    </h2>
    <div class="top-link">
      <a href="#nav"> Back to top </a>
    </div>
  </div>

  
  <!-- Content -->
  <div class="section-content" style="">
    Notes are under construction.
      <!-- Notes Row 
        
        <ul class="entry-previews">          
          {% for post in site.posts limit:5 %}
          <li>
            <p class="post-preview">
              <a href="{{ post.url }}">
                {{ post.title }}
              </a>
              <br> {{ post.introduction }}
              <a href="{{ post.url }}">
                (read more)
              </a>
              <br> - {{ post.date | date: '%B %d, %Y' }}
            </p>
          </li>
          {% endfor %}
        </ul>
      -->
  </div>

</section>