<nav id="nav">
  <span
    class="navbar-brand"
    style="font-size: 1.35em;"
    href="{{site.url}}"
  >
    <a href="{{site.url}}" style="color: var(--black);"><h2>Jon Tow</h2></a>
  </span>

  <div class="navbar navbar-expand">
    <div class="collapse navbar-collapse" id="navbarNav">
      <p>
        <a href="{{site.url}}#about">
          <span class="about-nav">about</span>
        </a>
        <a class="ml-2" href="{{site.url}}#project">
          <span class="projects-nav">projects</span>
        </a>
        <a class="ml-2" href="{{site.url}}#notes">
          <span class="notes-nav">notes</span></a>
      </p>
    </div>
  </div>
</nav>
