:root {
    /* Palette Colors */
    --main-color: #634ece;
    --second-color: #fb6747;
    --third-color: #232333;
    --bg-2: #241a4d;
    --purple: #b6a4fe;
    --purple-fill: #9563d4;
    --green: #2eb69c;
    --red: #ed4838;
    --main-white: #FCFCFC;
    --black: #232333;
    --light-black: rgb(95, 95, 95);
    --header-black: rgb(60, 60, 60);

    --bg: #fbfbfb;
    /* Global Styles */
    --box-shadow: rgba(27, 27, 27, 0) 1px 3px 8px;
    --inner-left-align: .985em;
    /* Sizes */
    --base-font-size: 1.0em;
    --base-height-padding: 1.35em;
    /* Breakpoints */
    --bp-small: 48em;
    --bp-medium: 64em;
    --bp-large: 85.375;
    --bp-xlarge: 120em;
}

* {
    padding: 0;
    box-sizing: border-box;
    text-decoration: inherit;
}

html, body {
    height: 100%;
}

body {
    margin: 0 auto;
    max-width: 780px;
    /*provides maximum, in case screen is huge*/
    width: 80%;
    /*keeps body text width resonable*/
    font-size: var(--base-font-size);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: left;
    color: var(--black);
    background-color: var(--bg);
}

.page-effect {
    margin-top: 2em;
    /* -webkit-box-shadow: 3px 5px 6px -2px rgba(117,117,117,.5); */
    /* -moz-box-shadow: 3px 5px 6px -2px rgba(117,117,117,.5); */
    /* box-shadow: -.5px 1px 5px -1px rgba(117,117,117, .85); */
}

p {
    line-height: 1.5;
}

main {
    margin-right: 20%;
}

table tr td {
    text-align: left;
    padding-right: .75em;
}

aside, .aside {
    display: inline;
    float: right;
    position: relative;
    width: 18vw;
    margin-right: -23vw;
    font-size: 14px;
    border-top: 1px solid rgb(224, 224, 224);
    padding-top: 4px;
}

.content {
    flex: 1 0 auto;
}

.bold {
    font-weight: 600;
}

/* Colors */

.purple {
    color: var(--purple);
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

.main-color {
    color: var(--main-color);
}

.third-color {
    color: var(--third-color);
}

.github-link {
    text-decoration: none;
    border-bottom: 1.5px solid transparent;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #EEEEEE;
}

b {
    font-weight: 500;
    color: var(--light-black);
}

/* List Styling */

ol {
    list-style-type: decimal;
}

ol li {
    list-style-type: disc;
}

i {
    color: var(--header-black);
}

/*------------*/

/* Header Styling */

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
    font-weight: 400;
}

h4 {
    font-size: var(--base-font-size);
    font-weight: 400;
}

/*------------*/

/* Nav Styling */

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1em;
    padding: 0.25em 0em 0.75em 1.5em;
}

.navbar {
    padding-left: 1em;
}

.navbar-nav .navbar ul li {
    list-style-type: none;
}

.navbar-brand {
    font-weight: 500;
    font-size: 1.5em;
    padding-left: .75em;
    color: var(--third-color);
}

/*------------*/

/* Section Styling */

section {
    width: 100%;
    padding: var(--base-height-padding) .5em .75em .5em;
    border-top: 2.25px solid #f0f0f0;
}

.post {
    height: 100%;
    padding-left: 2em;
    padding-right: 2em;
}

.post-title {
    grid-area: post-title;
    width: 100%;
}

.post-header {
    grid-area: post-header;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.post-date {
    color: var(--light-black);
    font: 14px;
}

.post-intro {
    padding-top: 1em;
    padding-bottom: 1em;
}

.post-content {
    grid-area: post-content;
    border-top: 2px solid #f2f2f6;
    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;
}

.post-h2 {
    color: var(--third-color);
}

.post-categories {
    text-align: left;
    padding-top: 1.25em;
    width: 100%;
}

.section-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--header-black);
    padding-left: 2em;
}

.section-h2 {
    border: none;
}

.section-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 2em 0em 2em;
}

.top-link {
    width: 100%;
    padding-right: 3.25em;
    padding-bottom: 1.25em;
    text-align: right;
}

.entry-previews {
    list-style: none;
}

.slide {
    display: none;
}

.demo {
    cursor: pointer
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

figcaption {
    color: gray;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: .5em;
}

.underline {
    background-image: linear-gradient(var(--main-color) 0%, var(--main-color) 100%);
    background-repeat: repeat-x;
    background-position: 0em 1.1em;
    background-size: 1em 3em;
    -webkit-background-size: 1em 3em;
    -moz-background-size: 1em 3em;
    -o-background-size: 1em 3em;
}

blockquote {
    background-color: #F8F8F8;
    padding: .5em;
    border: 2px solid var(--main-color);
}

.yellow-highlight {
    background: #ffffe8;
    /* Default color, all browsers */
}

.yellow-highlight::selection {
    background: #FFFF66;
    /* Selection color, WebKit/Blink Browsers */
}

.yellow-highlight::-moz-selection {
    background: #FFFF66;
    /* Selection color, Gecko Browsers */
}

/*-------------*/

#about {
    text-align: justify;
    /* background-color: rgba(245, 238, 255, 0.5); */
}

#about h1 {
    /* color: rgb(75, 58, 100); */
}

.social-media-list {
    list-style: none;

}

#notes {
    /*     background-color: rgba(255, 217, 217, 0.25); */
}

#notes h1 {
    /* color: rgb(104, 30, 30); */
}

.note-content {
    padding-left: 2em;
    padding-right: 2em;
    max-width: 46em;
    margin: 0 auto;
}

#project {
    /*     background-color: rgb(255, 255, 236); */
}

#project h1 {
    /* color: rgb(71, 71, 22); */
}

.project-type {
    color: var(--light-black);
}

.tab-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "tab-name tab-info tab-info tab-info" "tab-name tab-info tab-info tab-info" "tab-name tab-info tab-info tab-info";
}

.tab-title {
    grid-area: tab-name;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.tab-info {
    grid-area: tab-info;
    padding-left: 4.5em;
}

/*-------------*/

/* Project Styling */

.project-row {
    padding-left: var(--inner-left-align);
}

.project-item {
    padding-top: .5em;
    margin-right: .5em;
}

/*------------*/

/* Footer Styling */

footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    bottom: 0;
    padding-top: 1em;
    padding-left: .75em;
}

.copyright {
    padding-top: .404em;
}

.footer-symbol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: .2em;
    padding-top: .045em;
    padding-left: 1.35em;

    padding-bottom: .1em;
    font-weight: bold;
    font-size: 1.25em;
    color: var(--main-color);
}

/*------------*/

.break {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;
    padding-right: 2em;
    width: 100%;
}

/* Links */

a {
    color: var(--main-color);
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.18em;
    background-position: 0 98%;
}

a:hover {
    color: var(--main-color);
    text-decoration: none;
}

/*------------*/

/* Device Specific Styling */

@media all {
    html {
        font-size: 1em;
    }
}

@media only screen and (min-width: 90em) {
    body {
        margin: 0 auto;
    }
}

@media screen and (max-width: 680px) {
    body {
        width: 100%;
    }
    main {
        width: 100%;
    }
    .MJXc-display {
        overflow-x: scroll;
    }
    aside {
        display: block;
        float: none;
        margin: 5% 10% 5% 10%;
        width: 80%;
    }
    .wrapper {
        margin: 0;
        border: none;
        border-radius: 0px;
    }
    .tab-info {
        grid-area: tab-info;
        padding-left: 2em;
    }
    .nav-item {
        padding-left: 0;
        padding-top: .6em;
    }
    .note-content {
        padding-left: 1em;
    }
    .post {
        width: 100%;
    }
}

/*------------*/

strong {
    color: var(--black);
}

.svg-container {
    height: 50px;
    padding-top: 0;
}
